<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Details - <%= @movie.title %></title>
</head>
<body>
  <li><%= @movie.title %></li>
  <!--These are regular embedded tags, they dont output anything -->

  <li>Director: <%= @movie.director %></a></li>

</ul>
<a href="/movies/index">Back to index</a>
</body>
</html>