<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies List</title>
</head>
<body>
<h1>My Movie List</h1>
Hello, this is a movies list.
<ul>
  <!--Access the values as usual, but inside
  of output embedded tags -->
  <li><%= @movie.title %></li>
  <!--These are regular embedded tags, they dont output anything -->
  <% unless @movie.title.nil? %>
    <li>This will be output</li>
  <% end %>

  <!--combine both for max effect :D-->
  <% unless @movie.title.nil? %>
      <li><%= @movie.title %></li>
  <% end %>

  <% @movies.each do |movie| %>
      <!--I would actually do this like so, /movies?id=id, but lets try this out-->
      <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
  <% end %>

</ul>
<a href="/movies/new">Add a Movie</a>
</body>
</html>