<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies List</title>
</head>
<body>
Hello, add a movie here to the list.
<form>
  <label for="title">Title:</label> <input type="text" name="title" id="title"><br>
  <label for="director">Director:</label> <input type="text" name="director" id="director"><br>
  <label for="year">Year:</label> <input type="text" name="year" id="year"><br>
  <input type="submit" value="Submit Movie">

  <a href="/movies">Back to Index</a>
</form>
</body>
</html>